<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-12 col-lg-12 col-sm-12">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">S. No</th>
                    <th scope="col">#</th>
                    <th scope="col">##</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let applicationFormData of applicationFormDataArray">
                        <th scope="row">{{applicationFormData.ind}}</th>
                        <td scope="row">{{applicationFormData.key}}</td>
                        <td>{{applicationFormData.val}}</td>
                  </tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td scope="row">Age</td>
                    <td>{{applicationFormData.age}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td scope="row">Address</td>
                    <td>{{applicationFormData.address}}</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td scope="row">Address</td>
                    <td>{{applicationFormData.address}}</td>
                  </tr> -->
                </tbody>
              </table>
        </div>
    </div>
</div>